.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: $m-size;
    
    padding: $m-size;
    
    
    background-color: rgb(165, 197, 238);
    @media (max-width: $desktop-breakpoint) {
        align-items: flex-start;
        flex-direction: row;
        font-size: $s-size;
        padding: 0;
    }
    
}

.main-content {
    display: flex;
    flex-direction: column;
    // @media (max-width: $desktop-breakpoint) {
    //     flex-direction: row;
    // }
}

.my_img {
    background: url('/images/my_image.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: $xl-size;
}

.header__title {
    text-decoration: none;
    color: $dark-blue;
    @media (max-width: $desktop-breakpoint) {
        font-size: $font-size-small;
    }
}

.header__active {
    color: #0e163a;
    font-size: $font-size-large;
}

.header__item {
    padding: 0;
    
}

.sub-header{
    padding: $l-size;
    @media (max-width: $desktop-breakpoint) {
        padding: $s-size;
    }
}

.sub-header__title {
    color: $dark-blue;
    margin: 0;
    
}

.header__title h1 {
    margin: 0;
}

#tabs {
    display: none;
    
}

.desktop-navbar {
    @media (max-width: $desktop-breakpoint) {
        display: none;
    }
}

.mobile-navbar {
    @media (min-width: $desktop-breakpoint) {
        display: none;
    }
}

.icon {
    position: absolute;
    right: 0;

}