.list-header {
    background: $off-white;
    border: 1px solid darken($off-white, 7%);
    color: $grey;
    display: flex;
    justify-content: space-between;
    padding: $s-size $m-size;
}

.list-item {
    display: flex;
    flex-direction: column;
    border: 1px solid darken($off-white, 7%);
    border-top: none;
    color: $dark-grey;
    padding: $s-size;
    
    transition: background .3s ease;
    &:hover {
        background: $off-white;
    }
    @media (min-width: $desktop-breakpoint) {
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        padding: $m-size;
    }
}

.list {
    margin-bottom: $m-size;
    @media (min-width: $desktop-breakpoint) {
        margin-bottom: $l-size;
    }
}

.list-item__main-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.list-item--message {
    align-items: center;
    justify-content: center;
    color: $grey;
    padding-top: $m-size;
    &:hover{
        background: none;
    }
}

.list-item__title {
    margin: 0;
 
}

.link-no-decoration {
    text-decoration: none;
}

.list-item__sub-title {
    color: $grey;
    font-size: $font-size-small;
}

.list-item__data {
    margin: $s-size 0 0 0;
    @media (min-width: $desktop-breakpoint) {
        margin: 0;
        padding-left: $s-size;
    }
}

.hide-mobile {
    @media (max-width: $desktop-breakpoint) {
        visibility: hidden;
    }
}

.hide-desktop {
    @media (min-width: $desktop-breakpoint) {
        visibility: hidden;
    }
}